@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Piazzolla:wght@100&display=swap');

body {
    margin:0;
    padding:0;
    background-color:black;
    color:white;
    font-family: 'Nanum Myeongjo', serif;
}

.banner-area h2 {
    -webkit-background-size:cover;
    background-size:cover;
    background-position:center center;
    width:100%;
}

.banner-area h2 {
    text-align:center;
    margin:0;
    padding-top:100px;
    padding-bottom:100px;
    font-family: 'Open Sans', sans-serif;
    color:white;
    font-size:2em;
}

section p {
    line-height:30px;
    word-spacing:6px;
    letter-spacing:1px;
    font-size:14px;
}

.type {
    color:yellow;
}

.information {
    text-align:center;
    color:yellow;
}

.i {
    padding-top:10px;
    padding-bottom:20px;
    font-size:30px;
    color:#c7f2fe;
}

.card {
     background-color:black;
     border:0.1px #373E45 solid;
     color:#c7f2fe;
}

.title {
    color:#c7f2fe;
    font-size:16px;
    padding:10px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:2px;
    word-spacing:5px;
}

.tech {
    line-height:35px;
}

.my {
    align:center;
    text-align:center;
    padding-top:10px;
    padding-bottom:20px;
    font-size:20px;
    color:#c7f2fe;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:2px;
    word-spacing:5px;
}

.footer {
    text-align:center;
}

.footer .f{
    color:yellow;
    font-size:40px;
    padding:20px;
}