.about-page {  
  transform: translateY(-25%);
}

.stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 10%;
    margin-left: 0;
    position: absolute;
    right: 0%;
    overflow: hidden;
  }

  .stage-cube-cont2 {
    width: 35%;
    height: 100%;
    top: 0;
    padding-top: 25%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
  }

  .stage-cube-cont3 {
    width: 40%;
    height: 100%;
    top: 0;
    padding-top: 26%;
    margin-left: 0;
    position: absolute;
    right: 10%;
    overflow: hidden;
  }
  
  .cubespinner {
    animation-name: spincube1;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
  
    div {
      position: absolute;
      width: 200px;
      height: 200px;
      border: 1px solid #c2bdbd;
      background: rgba(221,224,193,255);
      text-align: center;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px #c2bdbd;
    }
  
    .face1 {
      transform: translateZ(100px);
      color: #dd0031;
    }
    .face2 {
      transform: rotateY(90deg) translateZ(100px);
      color: #f06529;
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      color: #28a4d9;
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      color: #5ed4f4;
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      color: #efd81d;
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(100px);
      color: #ec4d28;
    }
  }

  .cubespinner2 {
    animation-name: spincube2;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 50px 50px 0;
    margin-left: calc(50% - 50px);
  
    div {
      position: absolute;
      width: 100px;
      height: 100px;
      border: 1px solid #c2bdbd;
      background: rgba(221,224,193,255);
      text-align: center;
      font-size: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px #c2bdbd;
    }
  
    .face1 {
      transform: translateZ(50px);
      color: #dd0031;
    }
    .face2 {
      transform: rotateY(90deg) translateZ(50px);
      color: #f06529;
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(50px);
      color: #28a4d9;
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(50px);
      color: #5ed4f4;
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(50px);
      color: #efd81d;
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(50px);
      color: #ec4d28;
    }
  }

  .cubespinner3 {
    animation-name: spincube3;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
  
    div {
      position: absolute;
      width: 150px;
      height: 150px;
      border: 1px solid #c2bdbd;
      background: rgba(221,224,193,255);
      text-align: center;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px #c2bdbd;
    }
  
    .face1 {
      transform: translateZ(75px);
      color: #dd0031;
    }
    .face2 {
      transform: rotateY(90deg) translateZ(75px);
      color: #f06529;
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(75px);
      color: #28a4d9;
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(75px);
      color: #5ed4f4;
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(75px);
      color: #efd81d;
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(75px);
      color: #ec4d28;
    }
  }
  
 /* Keyframe animation for spincube1 */
@keyframes spincube1 {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }
  
  /* Keyframe animation for spincube2 */
  @keyframes spincube2 {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }
  
  /* Keyframe animation for spincube3 */
  @keyframes spincube3 {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }
  